<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=divice-width, initial-scale=1">
		<title>Deelingual</title>
		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="static/main.css">
    </head>
    <body id = "wholepage">
		<p id = "historyfontsize" hidden >{{fontsize}}</p>
		<p id = "historycolors" hidden>{{colors}}</p>
		<p id = "pagelangaugeselected" hidden>{{word_translated_list[1]}}</p>
		<form method="GET" action="/search" >
		<div id = "header">
			<h1 id = "appname">Deelingual</h1>
			<div id = "translate_page_div" >
				<label id = "translate_page"for="page_language">{{word_translated_list[7]}}</label>
				<select id="page_language" name ="page_language">
					{% for page_language in page_language_list %}
					<option value="{{page_language}}">{{page_language}}</option>
				{%endfor%}
				</select>
			</div>
			<div id = "accessibility">
			<label id = "accessibilitylable"for="page_language">{{word_translated_list[24]}}</label>
			<label id = "colorchange"class="switch">{{word_translated_list[16]}}</label>
					<input id = "Invert_colors"type="checkbox">
					<span class="slider"></span>
				<label id = "fontchange"class="switch">{{word_translated_list[17]}}</label>
					<input id = "Font_size"type="checkbox">
					<span class="slider"></span>
				 
			</div>
		</div>
		<div id = "SearchForm">
		<input id = "homebutton"type=button onClick="location.href='homepage'"value='{{word_translated_list[18]}}'>
		<button id = "fullview"type = 'button' onclick="fulltext()">{{word_translated_list[19]}}</button>
		<button id = "kwicview"type = 'button' onclick="KWIC()">{{word_translated_list[20]}}</button>
		<label id = "sortinglable"for="sorting">{{word_translated_list[21]}}</label>
		<select id = "sorting" name = "dropdown">
			<option id = "Following,Ascending"value = "Following,Ascending">{{word_translated_list[12]}}</option>
			<option id = "Following,Descending"value = "Following,Descending">{{word_translated_list[13]}}</option>
			<option id = "Preceding,Ascending"value = "Preceding,Ascending">{{word_translated_list[14]}}</option>
			<option id = "Preceding,Descending"value = "Preceding,Descending">{{word_translated_list[15]}}</option>
		</select>
		<label id = "rerunlable"for="rerun">{{word_translated_list[22]}}</label>
		<select id = "rerun" name = "rerun">
			<option value = "1">1</option>
			<option value = "2">2</option>
			<option value = "3">3</option>
			<option value = "4">4</option>
			<option value = "5">5</option>
			<option value = "6">6</option>
			<option value = "7">7</option>
			<option value = "8">8</option>
			<option value = "9">9</option>
			<option value = "10">10</option>
		</select>
		<label id = "sentlengthlable"for="sentlengthlable">{{word_translated_list[23]}} </label>
        <select id = "sentlength"name = "sentlength" id = "sentlength">
            <option value = "5">5 {{word_translated_list[26]}}</option>
            <option value = "7">7 {{word_translated_list[26]}}</option>
            <option value = "9">9 {{word_translated_list[26]}}</option>
        </select>
	</div>
		<div id = "clusters">
		
		{% if error %}
		<div id = "results">
    {% if "enough" in error %}
	<h1 id = "resultslable"scope="col">{{word_translated_list[7]}}</h1>
	<p id = "error" class="error"><strong>{{word_translated_list[25]}}</strong>
</div>
    {% else %}
	<h1 id = "resultslable"scope="col">{{word_translated_list[7]}}</h1>
	<p id = "error" class="error"><strong>{{word_translated_list[6]}}</strong>
    {% endif %}
		{% endif %}
		{% for cluster in sentence_List_clustered %}
			<div>
				<button id= "clusterlable"type="button" class="collapsible">
					{{word_translated_list[11]}} {{loop.index}}
				</button>
				<div class="content">
					<ol>    
                        <table>
                            <tbody>
                                {% for item in cluster %}
                                    {{item|safe}}
                                {% endfor %}
                            </tbody>
                        </table>
                    </ol>
				</div>
				<div class="preview">
					<ol>    
						<table>
							<tbody>
								{{cluster[0]|safe}}
							</tbody>
						</table>
					</ol>
				</div>
			</div>
		{% endfor %}

		</form>

		<script>
			$(function() {
				$("#language").on("change", function(event){
					$.ajax({
						data: {language : $("#language").val()},
						type: "GET",
						url : "{{url_for('Query')}}", 
						success: function(response) {
							$("#partOfSpeech").html(response);
						}
					})
				});
			});
		</script>
		<script>$(function() 
			{$("#sorting").on("change", function(event){
				$.ajax({
					data: {language : $("#sorting").val()},
					type:"GET",
					url : "{{url_for('Sort')}}", 
					success: function(response) {
						$("#clusters").html(response);
					}
				})
			});
			});
		</script>
		<script>$(function() 
			{$("#rerun").on("change", function(event){
				$.ajax({
					data: {language : $("#rerun").val()},
					type:"GET",
					url : "{{url_for('Vec')}}", 
					success: function(response) {
						$("#clusters").html(response);
					}
				})
			});
			});
		</script>
		<script>$(function() 
			{$("#sentlength").on("change", function(event){
				$.ajax({
					data: {language : $("#sentlength").val()},
					type:"GET",
					url : "{{url_for('kwic')}}", 
					success: function(response) {
						$("#clusters").html(response);
					}
				})
			});
			});
		</script>
		<script>
			$(function() {
				$("#page_language").on("change", function(event){
					$.ajax({
						data: {language : $("#page_language").val()},
						type: "GET",
						url : "{{url_for('Page')}}", 
						success: function(response) {
							$("#part_of_speech_translate").html(response[3]);
							$("#accessibilitylable").html(response[24]);
							$("#homebutton").attr("value",response[18]);
							$("#clusterlable").html(response[11]);
							$("#fullview").html(response[19]);
							$("#kwicview").html(response[20]);
							$("#sortinglable").html(response[21]);
							$("#translate_page").html(response[7]);
							$("#colorchange").html(response[16]);
							$("#fontchange").html(response[17]);
							$("#rerunlable").html(response[22]);
							$("#sentlengthlable").html(response[23]);
							document.getElementsByName('dropdown')[0].options[0].innerHTML = response[12];
							document.getElementsByName('dropdown')[0].options[1].innerHTML = response[13];
							document.getElementsByName('dropdown')[0].options[2].innerHTML = response[14];
							document.getElementsByName('dropdown')[0].options[3].innerHTML = response[15];
							document.getElementsByName('sentlength')[0].options[0].innerHTML = "5 "+response[26];
							document.getElementsByName('sentlength')[0].options[1].innerHTML = "7 "+response[26];
							document.getElementsByName('sentlength')[0].options[2].innerHTML = "9 "+response[26];
						}
					})
				});
			});
		</script>
		<script>
			if (document.getElementById("error").innerHTML.length > 0) {
				document.getElementById("results").style.backgroundColor = "crimson"
			} 
		</script>
		<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;
			for (i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var content = this.nextElementSibling;
					var preview = content.nextElementSibling;
					if (content.style.display === "block") {
						content.style.display = "none";
						preview.style.display = "block";
					} 
					else {
						content.style.display = "block";
						preview.style.display = "none";
					}
				});
			}
		</script>
		<script> function fulltext(){$.ajax({url: "{{url_for('FullText')}}", success: function(result){$("#clusters").html(result);
				}})};</script>
		<script> function KWIC(){$.ajax({url: "{{url_for('kwic')}}", type: "POST", success: function(result){$("#clusters").html(result);
		}})};</script>
			<script>var invertcolors = false;
				var fontsize = false;
			$("#Invert_colors").on('change', function() {
				if ($(this).is(':checked')) {
					invertcolors = $(this).is(':checked');
					document.getElementById("sentlengthlable").style.color = "white";
					document.getElementById("rerunlable").style.color = "white";
					document.getElementById("sortinglable").style.color = "white";
					document.body.id = "body-invert"
					$.ajax({
					data: {language : "clicked"},
					type:"GET",
					url : "{{url_for('colors')}}", 
					success: function(response) {
						;
					}
				})
				}
				else {
					invertcolors = $(this).is(':checked');
					document.getElementById("sentlengthlable").style.color = "black";
					document.getElementById("rerunlable").style.color = "black";
					document.getElementById("sortinglable").style.color = "black";
					document.body.id = ""
					$.ajax({
					data: {language : "unclicked"},
					type:"GET",
					url : "{{url_for('colors')}}", 
					success: function(response) {
						;
					}
				})
				}
			});
			$("#Font_size").on('change', function() {
				if ($(this).is(':checked')) {
					fontsize = $(this).is(':checked');
					document.body.style.fontSize = "xx-large"
					$.ajax({
					data: {language : "clicked"},
					type:"GET",
					url : "{{url_for('fontsize')}}", 
					success: function(response) {
						;
					}
				})
				}
				else {
					fontsize = $(this).is(':checked');
				   document.body.style.fontSize = "medium"
				   $.ajax({
					data: {language : "unclicked"},
					type:"GET",
					url : "{{url_for('fontsize')}}", 
					success: function(response) {
						;
					}
				})
				}
			});
			</script>
			<script>
				var colors = document.getElementById("historycolors").innerHTML
				var fontsize = document.getElementById("historyfontsize").innerHTML
				if (colors == "clicked"){
					invertcolors = $(this).is(':checked');
					document.getElementById("sentlengthlable").style.color = "white";
					document.getElementById("rerunlable").style.color = "white";
					document.getElementById("sortinglable").style.color = "white";
					document.body.id = "body-invert"
					document.getElementById("Invert_colors").checked = true;
				}else{
					document.getElementById("sentlengthlable").style.color = "black";
					document.getElementById("rerunlable").style.color = "black";
					document.getElementById("sortinglable").style.color = "black";
					document.body.id = ""
					document.getElementById("Invert_colors").checked = false;
				}
				if (fontsize =="clicked"){
					fontsize = $(this).is(':checked');
					document.body.style.fontSize = "xx-large"
					document.getElementById("Font_size").checked = true;
				}else{
					document.getElementById("Font_size").checked = false;
					document.body.style.fontSize = "medium"
				}
						
					</script>
					<script>
						var pagelan = document.getElementById("pagelangaugeselected").innerHTML
						document.getElementById('page_language').value=pagelan;
					</script>
			</div>
	</body>
</html>


