<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=divice-width, initial-scale=1">
		<title>Deelingual</title>
		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="static/main.css">
    </head>
    <body id = "wholepage">
		<form method="GET" action="" >
		<div id = "header">
			<h1 id = "appname">Deelingual</h1>
			<div id = "translate_page_div" >
				<label id = "translate_page"for="page_language">{{word_translated_list[6]}}</label>
				<select id="page_language" name ="page_language">
					{% for page_language in page_language_list %}
					<option value="{{page_language}}">{{page_language}}</option>
				{%endfor%}
				</select>
			</div>
			<div id = "accessibility">
				Accessibility List:
				<label class="switch">
					Invert Colors
					<input id = "Invert_colors"type="checkbox">
					<span class="slider"></span>
				  </label>
				  <label class="switch">
					Larger Font Size
					<input id = "Font_size"type="checkbox">
					<span class="slider"></span>
				  </label>
			</div>
		</div>
		<div id = "SearchForm">
		<input type=button onClick="location.href='homepage'"value='Return search page'>
		<button type = 'button' onclick="fulltext()">Show full sentences view</button>
		<button type = 'button' onclick="KWIC()">Show KWIC sentences view</button>
		<label id = "sortinglable"for="sorting">Choose sorting</label>
		<select id = "sorting" name = "dropdown">
			<option value = "Following,Ascending">Following Word Ascending</option>
			<option value = "Following,Descending">Following Word Descending</option>
			<option value = "Preceding,Ascending">Preceding Word Ascending</option>
			<option value = "Preceding,Descending">Preceding Word Descending</option>
		</select>
		<label id = "rerunlable"for="rerun">Rerun clusters</label>
		<select id = "rerun" name = "rerun">
			<option value = "1">1</option>
			<option value = "2">2</option>
			<option value = "3">3</option>
			<option value = "4">4</option>
			<option value = "5">5</option>
			<option value = "6">6</option>
			<option value = "7">7</option>
			<option value = "8">8</option>
			<option value = "9">9</option>
			<option value = "10">10</option>
		</select>
		<label id = "sentlengthlable"for="sentlengthlable">Choose length of sentence preview: </label>
        <select name = "sentlength" id = "sentlength">
            <option value = "5">5 words</option>
            <option value = "7">7 words</option>
            <option value = "9">9 words</option>
        </select>
	</div>
		<div id = "clusters">
		{% if error %}
		<div id = "results">
			<h1 id = "resultslable"scope="col">{{word_translated_list[7]}}</h1>
			<p id = "error" class="error"><strong>{{ error }}</strong>
		</div>
		{% endif %}
		{% for cluster in sentence_List_clustered %}
			<div>
				<button type="button" class="collapsible">
					Cluster {{loop.index}}
				</button>
				<div class="content">
					<ol>    
                        <table>
                            <tbody>
                                {% for item in cluster %}
                                    {{item|safe}}
                                {% endfor %}
                            </tbody>
                        </table>
                    </ol>
				</div>
				<div class="preview">
					<ol>    
						<table>
							<tbody>
								{{cluster[0]|safe}}
							</tbody>
						</table>
					</ol>
				</div>
			</div>
		{% endfor %}

		</form>

		<script>
			$(function() {
				$("#language").on("change", function(event){
					$.ajax({
						data: {language : $("#language").val()},
						type: "GET",
						url : "{{url_for('Query')}}", 
						success: function(response) {
							$("#partOfSpeech").html(response);
						}
					})
				});
			});
		</script>
		<script>$(function() 
			{$("#sorting").on("change", function(event){
				$.ajax({
					data: {language : $("#sorting").val()},
					type:"GET",
					url : "{{url_for('Sort')}}", 
					success: function(response) {
						$("#clusters").html(response);
					}
				})
			});
			});
		</script>
		<script>$(function() 
			{$("#rerun").on("change", function(event){
				$.ajax({
					data: {language : $("#rerun").val()},
					type:"GET",
					url : "{{url_for('Vec')}}", 
					success: function(response) {
						$("#clusters").html(response);
					}
				})
			});
			});
		</script>
		<script>$(function() 
			{$("#sentlength").on("change", function(event){
				$.ajax({
					data: {language : $("#sentlength").val()},
					type:"GET",
					url : "{{url_for('kwic')}}", 
					success: function(response) {
						$("#clusters").html(response);
					}
				})
			});
			});
		</script>
		<script>
			$(function() {
				$("#page_language").on("change", function(event){
					$.ajax({
						data: {language : $("#page_language").val()},
						type: "GET",
						url : "{{url_for('Page')}}", 
						success: function(response) {
							console.log(response);
							$("#translate_page").html(response[6]);
							$("#searchbutton").html(response[8]);
							$("#part_of_speech_translate").html(response[2]);
							$("#resultslable").html(response[7]);
							$("input[type=text]").attr("placeholder", response[4]);
							$("#resultslable").html(response[7]);
							$("#error").html(response[3]);
							$("#clustermountlable").html(response[9]);
							$("#language_translate").html(response[1]);
						}
					})
				});
			});
		</script>
		<script>
			if (document.getElementById("error").innerHTML.length > 0) {
				document.getElementById("results").style.backgroundColor = "crimson"
			} 
		</script>
		<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;
			for (i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var content = this.nextElementSibling;
					var preview = content.nextElementSibling;
					if (content.style.display === "block") {
						content.style.display = "none";
						preview.style.display = "block";
					} 
					else {
						content.style.display = "block";
						preview.style.display = "none";
					}
				});
			}
		</script>
		<script> function fulltext(){$.ajax({url: "{{url_for('FullText')}}", success: function(result){$("#clusters").html(result);
				}})};</script>
		<script> function KWIC(){$.ajax({url: "{{url_for('kwic')}}", success: function(result){$("#clusters").html(result);
		}})};</script>
			</div>
	</body>
</html>


